a {
    color: #1b6d85;
}



h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    line-height: 1.35;
    letter-spacing: -.02em;
    opacity: .54;
    font-size: .6em
}

ul, ol {
    font-size: 14px;
    line-height: 20px;
}
.mdl-data-table th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, .54);
    padding-bottom: 8px;
    box-sizing: border-box;
    text-align: left;
}
.mdl-data-table td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: 12px 18px;
    box-sizing: border-box;
    text-align: left;
}
