body {
    margin: 0;
    padding: 0;
    background: #eee;
}

a {
    width: 50%;
    margin-top: 200px;
    float: left;
    text-align: center;
    font-size: 2em;
    font-family: "Segoe UI Light", "Segoe UI", Arial, sans-serif;
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #111;
}