.row:after {
    content: "";
    clear: both;
    display: block;
}

/* Mobil visning */
body {
    background: #FF0000;
}

[class*="col-"] {
    width: 100%;
}

/* Tablet visning */

@media only screen and (min-width: 600px) {

    body {
        background: #ffff00;
    }

}

/* Desktop visning */

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 768px) {

    body {
        background: #3c510c;
    }

}