* {
    box-sizing: border-box;
}

html {
    background: none,url('../img/background.svg') no-repeat,url('../img/background.png') no-repeat;
    text-align: center;
    font-family: "Arial", Verdana, sans-serif;
}

#title {
    font-size: 30pt;
    font-family: "Bookman Old Style", Arial Black, serif;
}

#introTxt {
    margin-top: -50px;
}

input[type="text"] {
    padding: 18px 20px 32px 22px;
    font-size: 24pt;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #888888;
    border: none;
}

input[type="submit"] {
    height: 90px;
    width: 85px;
    border: none;
    margin-left: -90px;
    font-size: 0;
    background: url(../img/searchbutton.svg);
}