* {
    box-sizing: border-box;
}

html {
    text-align: center;
}
#ContentText{
    padding:100px;
}

.test {
    margin-top: 100px;
}

#title {
    font-family: "Bookman Old Style", Arial Black, serif;
    font-size: 30pt;
}

#introTxt {
    margin-top: 20px;
}

input[type="text"] {
    margin-top: 20px;
    padding: 18px 20px 32px 22px;
    font-size: 24pt;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #888888;
    border: none;
}

input[type="submit"] {
    height: 90px;
    width: 85px;
    border: none;
    margin-left: -90px;
    background: url(../img/searchbutton.svg);
}

#mostpictures {
    margin-top: 100px;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
}